* {
    border: 1px solid red;
}

h1 {
    font-style: italic;
    font-weight: bold;
}

.ingredients,
.recipe-steps{
    background-color: purple;
    padding: 100px;
    margin: 20px;
}
.ingredients li{
    color: white;
    font-style: italic;
    list-style: georgian;
}
.recipe-steps li{
    list-style: lower-roman;
    font-weight: bold;
    color: white;
}

